:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.toast-message {
  max-width: 350px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #2b2a2a;
}

h1 {
  font-size: 45px;
  margin-bottom: 55px;
  color: #f9f9f9;
  font-weight: 900;
  animation: 5s infinite;
}

label {
  font-size: 15px;
  padding-bottom: 7px;
  margin-top: 20px;
}

input {
  border-radius: 8px;
  border: none;
  width: 300px;
  height: 35px;
  padding-left: 15px;
}

span {
  color:#646cff;
  font-style: italic;
  font-size: small;
}

button {
  width: 315px;
  margin-top: 25px;
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #585858;
  color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
  color: #585858;
  background-color: #f9f9f9;
  font-weight: 900;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
